.input {
    padding: 2.5vh;
    width: 40vh;
    position: relative;
    left:0.2vh;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 2.2vh;
    
    }

    .input:focus {
        border-bottom-color: #1bc963; /* Cor da linha ao clicar */
    }




    .tela {
        display: inline-block;
        background-color: #ffffff;
        padding: 5vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }

    button {
        padding: 2.5vh;
        width: 40vh;
        transform: scale(1.05);
        background-color: #ff0676;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        user-select: none;
        position: relative;
        right: 8%;
        position: relative;
        left: 2vh;
    }
    
    button:hover {
        transform: scale(1.05);
        background-color: #e170a3;
    }

body {
    background-color: #0d0da4;
    font-family: Arial, Helvetica, sans-serif;
}

#place{
    position: relative;
    left: 1vh;
    top: 37px;
    bottom: 40px;
    color: #808080;
    
}

p{
    position: relative;
    left: 3%;
    color: #808080;
}

h2{
    position: relative;
    left: 7vh;
    color: #544ce5;
}

#p-1{
    position: relative;
    left: 10vh;
    color:#808080;

}

#p-2{
      position: relative;
      left: 8%;
      bottom: 10px;
      color: #808080;
}

#p-3{
      position: relative;
      left: 9%;
      bottom: 20px;
      color: #808080;
}

a {
        
        color: #544ce5;
        position: relative;
        top: 10px;
        left: 38%;
    }

    .texto{
           position: relative;
           right: 5%;
    }
