.input {
    padding: 2.5vh;
    width: 40vh;
    position: relative;
    left:0.2vh;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 2.2vh;
    background: transparent;
    
    }

    .input:focus {
        border-bottom-color:#00bfff; /* Cor da linha ao clicar */
    }


    .tela {
        display: inline-block;
        background-color: #ffffff;
        padding: 5vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
button {
    padding: 2.5vh;
    width: 40vh;
    transform: scale(1.05);
    background-color: #ff0676;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    position: relative;
    right: 8%;
    position: relative;
    left: 2vh;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}

body {
    background-color: #0d0da4;
    font-family: Arial, Helvetica, sans-serif;
}

#place{
    color: #544ce5;
    position: relative;
    left: 1vh;
    top: 0.5vh;
    }
    

p{
    position: relative;
    left: 3%;
    color: #808080;
}

h2{
    position: relative;
    left: 15%;
    color: #544ce5;
}

#p-1{
       position: relative;
       left: 5vh;
}


#p-2{
      position: relative;
      left: 6vh;
      bottom: 10px;
      color: #808080;
}

#p-3{
      position: relative;
      left: 7vh;
      bottom: 20px;
      color: #808080;
}

a {
        
        color: #544ce5;
        position: relative;
        top: 10px;
        left: 38%;
    }

    .texto{
           position: relative;
           right: 5%;
    }


